<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.returnp_web.dao.mapper.DeviceMapper">

	<select id="selectDeviceInfo" parameterType="HashMap" resultType="HashMap">
		SELECT
			*
		FROM device_info
	WHERE 	
			1 = 1
			<if test="memberEmail != null">AND  memberEmail= #{memberEmail,jdbcType=VARCHAR}</if>
      		<if test="memberPhone != null"> AND memberPhone = #{memberPhone,jdbcType=VARCHAR}</if>
      		<if test="memebrName != null"> AND memebrName = #{memebrName,jdbcType=VARCHAR}</if>
      		<if test="memberNo != null"> AND memberNo = #{memberNo,jdbcType=INTEGER}</if>
	</select>
	
	<update id="updateDeviceInfo" parameterType="HashMap">
     update device_info
     <set>
      <if test="memberNo != null"> memberNo = #{memberNo,jdbcType=INTEGER}, </if>
      <if test="memberEmail != null"> memberEmail = #{memberEmail,jdbcType=VARCHAR}, </if>
      <if test="memberName != null"> memberName = #{memberName,jdbcType=VARCHAR}, </if>
      <if test="memberPhone != null"> memberPhone = #{memberPhone,jdbcType=VARCHAR}, </if>
      <if test="manufacturer != null"> manufacturer = #{manufacturer,jdbcType=VARCHAR}, </if>
      <if test="os != null"> os = #{os,jdbcType=VARCHAR}, </if>
      <if test="osVersion != null"> osVersion = #{osVersion,jdbcType=VARCHAR}, </if>
      <if test="pushKey != null"> pushKey = #{pushKey,jdbcType=VARCHAR}, </if>
      <if test="createTime != null"> createTime = #{createTime,jdbcType=TIMESTAMP}, </if>
    	 updateTime = NOW()
    </set>
   
    where memberNo = #{memberNo,jdbcType=INTEGER}
  </update>
	
		<!-- .디바이스 토큰 저장-->
	<insert id="registPushToken" parameterType="HashMap">
		INSERT INTO device_info (
			memberNo
			,memberEmail
			,memberName
			,memberPhone
			,manufacturer
			,os
			,osVersion
			,pushKey
			,createTime
			,updateTime
		) VALUES (
			#{memberNo}
			,#{memberEmail}
			,#{memberName}
			,#{memberPhone}
			,#{manufacturer}
			,#{os}
			,#{osVersion}
			,#{pushKey}
			,NOW()
			,NOW()
		)
	</insert>
	
	<select id="selectLastVersion" parameterType="HashMap" resultType="HashMap">
		SELECT * FROM app_info order by createTime limit 1 
	</select>
</mapper>