<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.returnp_web.dao.mapper.FrontMainMapper">

	<select id="selectCompanyInfo" parameterType="HashMap" resultType="HashMap">
		SELECT
			companyInfo
			,langLocale
			,companyName
			,companyAddress
			,companyTel
			,companyeEmail
			,corporateRegistNumber
			,corporateType
			,operatingHours
			,customerCenterTel
			,privacyOfficer
			,copyright
			,faxNumber
			,ceo
		FROM company_info
		WHERE langLocale = #{langLocale}
	</select>

	<select id="selectServerManageStatusInfo" parameterType="HashMap" resultType="HashMap">
		SELECT
				serverManageNo
				,webServerStatus
				,adminServerStatus
				,batchServerStatus
				,pointbackServerStatus
				,createTime
		FROM server_manage
	</select>

	<!-- 공지사항 리스트 총갯수 -->
	<select id="selectWebNoticeListTotalCount" parameterType="HashMap" resultType="int">
		SELECT 
			COUNT(mainBbsNo) as totalCount
		from(
			SELECT
				A.mainBbsNo
			FROM MAIN_BBS A, SUB_BBS B, (SELECT @RNUM := 0 ) AS ROWNUM
			WHERE A.isPublic ='Y'
			AND A.bbsType1 = '1'
			AND A.mainBbsNo = B.mainBbsNo
			ORDER BY A.mainBbsNo DESC
		)TEMP_T
	</select>

	<!-- 공지사항 리스트 -->	
	<select id="selectWebNoticeList" parameterType="HashMap" resultType="HashMap">
		SELECT
			totalCount
			,mainBbsNo
			,bbsType1
			,bbsType2
			,writerNo
			,title
			,content
			,viewCount
			,createTime
			,updateTime
			,ROWNUM
		from(
			SELECT
				(SELECT COUNT(*) AS total_count FROM board) AS totalCount
				,A.mainBbsNo
				,A.bbsType1
				,A.bbsType2
				,A.writerNo
				,A.title
				,A.content
				,A.viewCount
				,A.createTime
				,A.updateTime
				,(@RNUM := @RNUM + 1 ) AS ROWNUM
			FROM MAIN_BBS A, SUB_BBS B, (SELECT @RNUM := 0 ) AS ROWNUM
			WHERE A.isPublic ='Y'
			AND A.bbsType1 = '1'
			AND A.mainBbsNo = B.mainBbsNo
			ORDER BY A.mainBbsNo DESC
		)TEMP_T
			WHERE ROWNUM BETWEEN #{S_SEQ} AND #{E_SEQ}
			ORDER BY ROWNUM ASC 
	</select>
	
	<!-- 공지사항 상세 -->	
	<select id="selectWebNoticeContent" parameterType="HashMap" resultType="HashMap">
		SELECT	
				A.mainBbsNo
				,A.bbsType1
				,A.bbsType2
				,A.writerNo
				,A.title
				,B.content
				,A.viewCount
		FROM main_bbs A, sub_bbs b
		WHERE A.isPublic ='Y'
		AND A.mainBbsNo = B.mainBbsNo
		AND A.mainBbsNo = #{mainBbsNo}
	</select>
	
	<!-- FAQ 리스트 총갯수 -->
	<select id="selectWebFAQListTotalCount" parameterType="HashMap" resultType="int">
		SELECT 
			COUNT(mainBbsNo) as totalCount
		from(
			SELECT
				A.mainBbsNo
			FROM MAIN_BBS A, SUB_BBS B, (SELECT @RNUM := 0 ) AS ROWNUM
			WHERE A.mainBbsNo = B.mainBbsNo
			AND A.isPublic ='Y'
			AND A.bbsType1 = '2'
			<if test="bbsType2 !=null and bbsType2 !='' and bbsType2 !=0 ">
				AND A.bbsType2 = #{bbsType2}
			</if>
			ORDER BY A.mainBbsNo DESC
		)TEMP_T
	</select>

	<!-- FAQ 리스트 -->	
	<select id="selectWebFAQList" parameterType="HashMap" resultType="HashMap">
		SELECT /* selectWebFAQList */
			totalCount
			,mainBbsNo
			,bbsType1
			,bbsType2
			,writerNo
			,title
			,content
			,viewCount
			,createTime
			,updateTime
			,ROWNUM
		from(
			SELECT
				(SELECT COUNT(*) AS total_count FROM board) AS totalCount
				,A.mainBbsNo
				,A.bbsType1
				,A.bbsType2
				,A.writerNo
				,A.title
				,A.content
				,A.viewCount
				,A.createTime
				,A.updateTime
				,(@RNUM := @RNUM + 1 ) AS ROWNUM
			FROM MAIN_BBS A, SUB_BBS B, (SELECT @RNUM := 0 ) AS ROWNUM
			WHERE A.mainBbsNo = B.mainBbsNo
			AND A.isPublic ='Y'
			AND A.bbsType1 = '2'
			<if test="bbsType2 !=null and bbsType2 !='' and bbsType2 !=0 ">
				AND A.bbsType2 = #{bbsType2}
			</if>
			ORDER BY A.mainBbsNo DESC
		)TEMP_T
			WHERE ROWNUM BETWEEN #{S_SEQ} AND #{E_SEQ}
			ORDER BY ROWNUM ASC 
	</select>
	
	<!-- FAQ 상세 -->	
	<select id="selectWebFAQContent" parameterType="HashMap" resultType="HashMap">
		SELECT	
				A.mainBbsNo
				,A.bbsType1
				,A.bbsType2
				,A.writerNo
				,A.title
				,B.content
				,A.viewCount
		FROM main_bbs A, sub_bbs B
		WHERE A.mainBbsNo = B.mainBbsNo
		AND A.isPublic = 'Y'
		AND A.mainBbsNo = #{mainBbsNo}
	</select>

	<select id="selectWebFranchiseeInfoListTotalCount" parameterType="HashMap" resultType="int">
		SELECT count(affiliateNo) as totalCount 
		FROM affiliate
		WHERE 1 = 1
		<if test="affiliateName !=null and affiliateName !='' ">
		AND affiliateName LIKE CONCAT('%',TRIM(#{affiliateName}),'%')
		</if>
		<if test="affiliateAddress !=null and affiliateAddress !='' ">
		AND affiliateAddress LIKE CONCAT('%',#{affiliateAddress},'%')
		</if>
		ORDER BY affiliateNo DESC
	</select>

	<select id="selectWebFranchiseeInfoSearchList" parameterType="HashMap" resultType="HashMap">
		SELECT  affiliateNo
				,affiliateName 
				,affiliateAddress
				,affiliateTel
				,ROWNUM 
		FROM(
				SELECT affiliateNo
				,affiliateName
				,affiliateAddress
				,affiliateTel
				,(@RNUM := @RNUM + 1 ) AS ROWNUM
				FROM affiliate , (SELECT @RNUM := 0 ) AS ROWNUM
				WHERE 1 = 1
				<if test="affiliateName !=null and affiliateName !='' ">
				AND affiliateName LIKE CONCAT('%',TRIM(#{affiliateName}),'%')
				</if>
				<if test="affiliateAddress !=null and affiliateAddress !='' ">
				AND affiliateAddress LIKE CONCAT('%',#{affiliateAddress},'%')
				</if>
				ORDER BY affiliateNo DESC
			)TEMP_T
				WHERE ROWNUM BETWEEN '1' AND '10'
				ORDER BY ROWNUM ASC 
	</select>

	<!-- CITY 리스트 -->	
	<select id="selectWebCityList" parameterType="HashMap" resultType="HashMap">
		SELECT city_code, city_name 
		FROM code_juso
		GROUP BY city_code, city_name 
	</select>	
	
	<!-- 시군구 AJAX 리스트 -->	
	<select id="selectWebCountryNameList" parameterType="HashMap" resultType="HashMap">
		SELECT country_code, country_name 
		FROM code_juso
		WHERE city_name = #{city_name}
	</select>	
	
	<!-- 게시글 카운팅 +1 -->
	<update id="updateMainBbsViewCount" parameterType="HashMap" >
	UPDATE main_bbs
		<set>
		<if test="mainBbsNo !=null and mainBbsNo !='' ">
			viewCount= #{viewCount} + 1
		</if>
		</set>
		<where>
			AND mainBbsNo= #{mainBbsNo}
		</where>
	</update>
	
	<!-- 제휴문의 등록(FRONT의 경우 로그인이 없는 상태라 비회원이 등록하기에...writeNo가 없음 -->
	<insert id="insertMainBbsPartnerAskSave" parameterType="HashMap">
	INSERT INTO main_bbs (
		        bbsType1
		        ,bbsType2
		        ,title
		        ,content
		        ,createTime
		        ,updateTime
		        ,rerv1
		        ,rerv2
		        ,rerv3
		        ,rerv4
		        ,rerv5
		        ,rerv6
		        ,isPublic
		) VALUES (
		        '4' /* 제휴문의 구분자 값 */
		        ,#{bbsType2} /* 1 : 일반 회원 문의, 2 : 정회원 문의, 3 : 영업 관리자 문의 , 4 : 협력업체 문의, 5 : 대리점 문의, 6 : 지사 문의, 7 : 기타 제휴 문의  */
		        ,#{title}
		        ,#{content}
		        ,NOW()
		        ,NOW()
		        ,#{rerv1} /* 상호명 */
		        ,#{rerv2} /* 대표자명 */
		        ,#{rerv3} /* 주소 */
		        ,#{rerv4} /* 담당자 */
		        ,#{rerv5} /* 연락처 */
		        ,#{rerv6} /* 이메일 */
		        ,'Y'
		)
	</insert>
	
	<!-- 가맹점 상세정보 -->	
	<select id="selectAffiliateIfo" parameterType="HashMap" resultType="HashMap">
		SELECT
			AF.affiliateNo, 
			AF.affiliateSerial, 
			AF.affiliateCode, 
			AF.affiliateName, 
			AF.affiliateAddress, 
			AF.affiliateTel, 
			AF.affiliatePhone, 
			AF.affiliateType, 
			AF.affiliateComm, 
			AF.giftCardPayRefundRate, 
			AF.memberNo, 
			AF.agencyNo, 
			AF.recommenderNo, 
			AF.affiliateStatus, 
			AF.regType, 
			AF.regAdminNo, 
			AF.affiliateEmail, 
			AF.greenPointAccStatus, 
			AF.redPointAccStatus, 
			AF.greenPointUseStatus, 
			AF.redPointUseStatus, 
			AF.createTime, 
			AF.updateTime, 
			M.memberEmail AS memberEmail, 
			M.memberName AS memberName, 
			M.memberPhone AS memberPhone, 
			GP.pointAmount AS greenPointAmount, 
			RP.pointAmount AS redPointAmount, 
			MA.memberAddressNo, 
			MA.memberNo, 
			MA.nodeNo, 
			MA.nodeType, 
			MA.roadFullAddr, 
			MA.roadAddrPart1, 
			MA.roadAddrPart2, 
			MA.addrDetail, 
			MA.engAddr, 
			MA.jibunAddr, 
			MA.zipNo, 
			MA.admCd, 
			MA.rnMgtSn, 
			MA.bdMgtSn, 
			MA.lat, 
			MA.lng, 
			M2.memberName AS recommenderName, 
			AG.agencyName, 
			(SELECT COUNT(*) FROM affiliate_tid AS AT WHERE AF.affiliateNo = AT.affiliateNo) AS affiliateSerialCount, 
			APR.paymentRouterNo, 
			(SELECT paymentRouterType FROM payment_router WHERE paymentRouterNo = APR.paymentRouterNo) AS paymentRouterType, 
			(SELECT paymentRouterName FROM payment_router WHERE paymentRouterNo = APR.paymentRouterNo) AS paymentRouterName, 
			(SELECT paymentRouterCode FROM payment_router WHERE paymentRouterNo = APR.paymentRouterNo) AS paymentRouterCode
		FROM affiliate AS AF
		INNER JOIN member AS M ON (AF.memberNo = M.memberNo)
		INNER JOIN red_point AS RP ON (AF.memberNo = RP.memberNo)
		INNER JOIN green_point AS GP ON (AF.memberNo = GP.memberNo AND GP.nodeType ='5')
		LEFT OUTER
		JOIN member_address AS MA ON (AF.affiliateNo = MA.nodeNo AND MA.nodeType ='5')
		LEFT OUTER
		JOIN member AS M2 ON (AF.recommenderNo = M2.memberNo)
		LEFT OUTER
		JOIN agency AS AG ON (AF.agencyNo= AG.agencyNo)
		LEFT OUTER
		JOIN affiliate_payment_router AS APR ON (AF.affiliateNo= APR.affiliateNo)
		WHERE AF.affiliateNo = #{affiliateNo}
	</select>
</mapper>